[Unit]
Description=rflink2tcp
After=network.target
StartLimitIntervalSec=0

[Service]
User=rflink2tcp
Group=rflink2tcp
WorkingDirectory=/opt/rflink2tcp
Type=simple
Environment="PYTHONUNBUFFERED=1"
ExecStart=/opt/rflink2tcp/rflink2tcp.py
Restart=always
RestartSec=10
TimeoutStopSec=30

[Install]
WantedBy=mult-user.target
